
.about {
  width: 21.125rem;
  height: 22.25rem;


  &__description {
    display: flex;
    align-items: center;
    gap: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-family: "Poppins";
  }
}
