.contributor {
  width: 60%;

  &__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 14px;

    &.-count {
      width: 47px;
      height: 50px;
      margin-left: 10px;
      padding: 10px;
      background: #121c75;
      border-radius: 4px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__group {
    position: relative;
    background: #222c85;
    border-radius: 50px;
    color: white;
    padding: 24px;
  }

  &__item {
    &.-first {
      @include positionLeft(0);
    }
    &.-second {
      @include positionLeft(45);
    }
    &.-third {
      @include positionLeft(90);
    }
    &.-fourth {
      @include positionLeft(135);
    }
    &.-last {
      background: #ffffff;
      border: 4px solid #222c85;
      width: 56px;
      height: 56px;
      position: absolute;
      top: 0;
      left: 180px;
      border-radius: 100%;
      color: #222c85;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
    }
  }
}
