.input {
  &.-unvisible {
    display: none;
  }

  &.-search {
    padding: $sm;
    gap: $xs;
    width: 100%;
    @include border(1px, solid, $polo-blue, $r-sm);
    font-size: $fs-md;
    font-weight: $font-bold;
    color: $downriver;

    &::placeholder {
      color: $downriver;
      font-size: $fs-md;
      font-weight: $font-bold;
    }
  }

  &.-date {
    font-size: $fs-md;
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    @include border(1px, solid,$polo-blue);
    color: $white;
    position: absolute;
    background-color: transparent;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;

    &::-webkit-calendar-picker-indicator {
      color: $white;
      opacity: 0;
      display: block;
      border-width: thin;
      height: 100%;
      width: 100%;
      padding: $sm;
    }

    &::-moz-selection {
      /* Code for Firefox */
      color: $white;
      background: $white;
    }

    &::selection {
      color: $white;
      background: $white;
    }
  }

  &.-checkbox {
    width: 30px;
    height: 30px;
    border-radius: $r-sm;
    accent-color: $polo-blue;
    @include border(1px, solid, $polo-blue, $r-sm);

    &:checked {
      accent-color: $downriver;
      background-color: $downriver;
      border: none;
      transition: all 0.5s;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 12px;
        height: 15px;
        width: 7px;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(40deg);
      }
    }
  }
}
