@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9BF2D;
}

a {
  text-decoration: underline;
  color: white;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.about {
  width: 21.125rem;
  height: 22.25rem;
}
.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.about__description {
  display: flex;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins";
}

.language {
  width: 350px;
  height: 12.313rem;
}
.language__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.language__meter {
  height: 3em;
  width: 100%;
}
.language__meter::-webkit-meter-bar {
  background-color: #5398ff;
}
.language__meter::-webkit-meter-optimum-value {
  background-color: #e4bd31;
}
.language__list {
  width: 100%;
  height: 0.75rem;
  display: flex;
}
.language__list-item {
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.language__list-item::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.language__list-item--blue::before {
  background-color: #5398ff;
}
.language__list-item--orange::before {
  background-color: #e4bd31;
}

.contributor {
  width: 60%;
}
.contributor__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 14px;
}
.contributor__title--count {
  width: 47px;
  height: 50px;
  margin-left: 10px;
  padding: 10px;
  background: #121C75;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.contributor__image {
  position: relative;
  background: #222c85;
  border-radius: 50px;
  color: white;
  padding: 24px;
}
.contributor__image-item--first {
  position: absolute;
  top: 0;
  left: 0px;
  width: 56px;
  height: 56px;
  border: 4px solid #222c85;
  border-radius: 100%;
}
.contributor__image-item--second {
  position: absolute;
  top: 0;
  left: 45px;
  width: 56px;
  height: 56px;
  border: 4px solid #222c85;
  border-radius: 100%;
}
.contributor__image-item--third {
  position: absolute;
  top: 0;
  left: 90px;
  width: 56px;
  height: 56px;
  border: 4px solid #222c85;
  border-radius: 100%;
}
.contributor__image-item--fourth {
  position: absolute;
  top: 0;
  left: 135px;
  width: 56px;
  height: 56px;
  border: 4px solid #222c85;
  border-radius: 100%;
}
.contributor__image-item--last {
  background: #ffffff;
  border: 4px solid #222c85;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 180px;
  border-radius: 100%;
  color: #222c85;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

body section {
  background-color: #222C85;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Merriweather";
  padding: 2.5rem 2.125rem;
  gap: 1.5rem;
  margin: 3em;
}

svg {
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=main.css.map */