@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mulish:wght@400;500;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

li {
  list-style: none;
}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-color: #F5F3E6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.-mb-lg {
  margin-bottom: 32px;
}

.-mb-xl {
  margin-bottom: 40px;
}

.-gap-xxs {
  gap: 8px;
}

.-gap-sm {
  gap: 16px;
}

.-gap-lg {
  gap: 32px;
}

.button {
  width: 100%;
  padding: 42px;
  color: #FFFFFF;
  border-radius: 30px;
  border: none;
  background-color: #FE6F4F;
  font-size: 24px;
}

.title {
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: #0D1C52;
}

.label {
  font-size: 14px;
}
.label.-unvisible {
  display: none;
}
.label.-lg {
  font-size: 18px;
}

.rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #0D1C52;
  padding: 74px;
  gap: 40px;
  border-radius: 32px;
  box-shadow: 0px 44px 64px 0px rgba(69, 25, 160, 0.1);
  background-color: #FFFFFF;
  position: relative;
  width: 750px;
}
.rental__form {
  width: 100%;
}
.rental::before {
  position: absolute;
  content: "";
  width: 484px;
  height: 632px;
  top: -109px;
  left: -98px;
  border-radius: 32px;
  background-color: #FCC863;
  z-index: -1;
}
.rental::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 410px;
  right: -175px;
  bottom: -78px;
  border-radius: 90px;
  background-color: #FC9A63;
  z-index: -1;
}

.group {
  width: 100%;
}
.group.-column {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}
.group.-row {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.group__item.-tick {
  font-size: 18px;
  padding-left: 32px;
  position: relative;
}
.group__item.-tick::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 5px;
  height: 14px;
  width: 3px;
  border-radius: 4px;
  background-color: #0D1C52;
  transform: rotate(40deg);
}
.group__item.-tick::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 7px;
  width: 3px;
  height: 8px;
  border-radius: 4px;
  background-color: #0D1C52;
  transform: rotate(-45deg);
}

.input.-unvisible {
  display: none;
}
.input.-search {
  padding: 16px;
  gap: 10px;
  width: 100%;
  border: 1px solid #8F9DCE;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #0D1C52;
}
.input.-search::placeholder {
  color: #0D1C52;
  font-size: 18px;
  font-weight: 700;
}
.input.-date {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8F9DCE;
  border-radius: 0;
  color: #FFFFFF;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.input.-date::-webkit-calendar-picker-indicator {
  color: #FFFFFF;
  opacity: 0;
  display: block;
  border-width: thin;
  height: 100%;
  width: 100%;
  padding: 16px;
}
.input.-date::-moz-selection {
  /* Code for Firefox */
  color: #FFFFFF;
  background: #FFFFFF;
}
.input.-date::selection {
  color: #FFFFFF;
  background: #FFFFFF;
}
.input.-checkbox {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  accent-color: #8F9DCE;
  border: 1px solid #8F9DCE;
  border-radius: 4px;
}
.input.-checkbox:checked {
  accent-color: #0D1C52;
  background-color: #0D1C52;
  border: none;
  transition: all 0.5s;
  position: relative;
}
.input.-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  height: 15px;
  width: 7px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(40deg);
}

.date-picker {
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  padding: 21px 59px;
}
.date-picker__icon-calendar {
  position: absolute;
  top: 16px;
  left: 16px;
}
.date-picker__icon-dropdown {
  position: absolute;
  top: 16px;
  right: 16px;
}/*# sourceMappingURL=main.css.map */